.ativo {
  -fx-background-image: url("../img/ativo.png");
  -fx-background-size: cover;
}

.key-button {
  -fx-background-color: derive(-mint, 80%);
}

.key-button .icon {
  -fx-fill: -mint;
  -fx-fill: #00ccdd;
}

.text-box:error {
  -fx-border-color: -red-500;
}

.text-box:error .icon {
  -fx-fill: -red-500;
}

.text-box:error .helper-label .text {
  -fx-fill: -red-500;
}

Panel {
  -fx-background-color: -fx-background;
}

#list-root #list-container .single-selection #task-item {
  -fx-background-color: -fx-background;
  -fx-border-color: -light-gray-2;
  -fx-border-radius: 5px;
  -fx-border-weight: 2px;
}

#task-item:selected .check-circle .box {
  -fx-border-color: -fx-accent;
}

#task-item .check-circle:hover .mark {
  -fx-border-color: -fx-accent;
}

#list-container .single-selection #task-item:selected .btn-favorite .icon {
  -fx-fill: -fx-accent;
}

#list-root #list-container .single-selection #task-item:selected {
  -fx-border-width: 2px;
  -fx-background-color: -fx-background;
  -fx-border-color: linear-gradient(
    to left,
    -fx-accent,
    derive(-fx-accent, 50%)
  );
}

#drawer,
#drawer-container {
  -fx-padding: 0px;
}

.custom-drawer-item .list-container .text {
  -fx-font-family: "Poppins Medium";
}

.custom-drawer-item {
  -fx-padding: 0px;
  -fx-background-color: -fx-background;
  -fx-min-height: 40px;
}

.custom-drawer-item:selected .icon,
.custom-drawer-item:selected .list-container Text {
  -fx-fill: -fx-accent;
  -fx-font-weight: bold;
}

.custom-drawer-item:selected .icon-selector {
  -fx-background-color: -fx-accent;
  -fx-background-radius: 0px 500px 500px 0px;
}

.empty-list-image {
  -fx-background-image: url("../img/check.jpeg");
  -fx-background-size: contain;
  -fx-background-color: #ffffff90;
  -fx-background-repeat: no-repeat;
}

.fake-task-item {
  -fx-border-color: -light-gray-2;
  -fx-border-width: 0px 0px 2px 0px;
}

.animated-section-title .number-label {
}

.animated-section-title {
  -fx-padding: 10px;
  -fx-border-width: 2px;
  -fx-border-radius: 3px;
  -fx-border-color: -light-gray-2;
}

.btn-favorite {
  -fx-background-color: transparent;
}

.btn-favorite:hover {
  -fx-background-color: white;
  -fx-border-color: -medium-gray;
  -fx-border-radius: 5px;
}

.btn-favorite:selected {
  -fx-border-color: transparent;
  -fx-border-width: 0px;
}

.btn-favorite:selected .icon {
  -fx-fill: -warning;
}

.animated-section-title:hover {
  -fx-border-color: -light-gray-2;
  -fx-background-color: -light-gray;
}

#input-container #input-task {
  -fx-background-color: transparent;
}

#input-container:focus-within {
  -fx-background-color: white;
  -fx-border-color: -light-gray-2;
  /* -fx-border-color:  #c0c7ff; */
}

#input-container {
  -fx-border-color: transparent;
  -fx-background-color: white;
  -fx-border-color: -light-gray-2;
  -fx-border-width: 2px;
  -fx-background-width: 2px;
  -fx-padding: 10px 10px 10px 20px;
}

#input-container #input-task {
  -fx-prompt-text-fill: -fx-accent;
}

#input-container #input-task {
}

#input-container:hover {
  -fx-border-color: linear-gradient(to right, -mint, derive(-fx-accent, 50%));
}

#input-container {
  -fx-min-height: 60px;
  -fx-padding: 10px;
  -fx-border-width: 2px;
  -fx-border-radius: 5px;
}

#input-container .icon-container .icon {
  -fx-fill: -fx-accent;
}

#input-container .menu-item-delete Text,
#input-container .menu-item-delete .icon-container .icon {
  -fx-fill: derive(-red, -30%);
}

#input-container .linear-icon .icon {
  -fx-fill: linear-gradient(to left, #33b5e5, #48cfad);
  -fx-text-fill: -fx-accent;
}

.input-field-item {
  -fx-padding: 10px;
  -fx-min-height: 40px;
}

.input-field-item:hover {
  -fx-cursor: hand;
  -fx-background-color: -light-gray;
}

.sub {
  -fx-padding: 5px;
  -fx-background-radius: 100px;
  -fx-border-width: 2px;
  -fx-alignment: center;
}

.sub Text,
.custom-drawer-item:selected .sub .text {
  -fx-fill: -fx-accent;
  -fx-font-weight: bold;
}

.custom-drawer-item:selected {
  -fx-background-color: derive(-fx-accent, 122%);
}

.check-circle:pressed .box,
.check-circle:selected .box,
.check-circle .box {
  -fx-border-radius: 100px;
}

.check-circle:indeterminate .box,
.check-circle:determinate .box {
  -fx-padding: 8px;
  -fx-border-radius: 100px;
  -fx-pref-height: 25px;
  -fx-max-height: 25px;
  -fx-pref-width: 25px;
  -fx-max-width: 25px;
}

.check-circle:determinate .box {
  -fx-border-color: -fx-accent;
  -fx-border-width: 2px;
  -fx-border-radius: 100px;
}

.check-circle:hover .box,
.check-circle .box {
  -fx-background-radius: 100px;
  -fx-border-radius: 100px;
  -fx-border-width: 1px;
  -fx-cursor: hand;
  -fx-background-insets: 1px;
}

.check-circle .box .mark {
  -fx-scale-x: 0.8;
  -fx-scale-y: 0.8;
}

.check-circle:determinate .box {
  -fx-border-color: derive(gray, -10%);
}

.menu-item-delete .icon {
  -fx-fill: -red-800;
}

.strike .text {
  -fx-strikethrough: true;
}

.hamb {
  -fx-background-color: -fx-background;
  -fx-border-color: -light-gray-2;
}

.custom-drawer-item .text-field {
  -fx-border-color: -fx-background -fx-background -fx-accent -fx-background;
  -fx-border-radius: 0px;
}

.custom-drawer-item .text-field:disabled {
  -fx-border-color: -fx-background;
  -fx-opacity: 1;
}
