
.key-button {
    -fx-background-color: derive(-mint, 80%);
}

.key-button .icon {
    -fx-fill: -mint;
    -fx-fill: #00ccdd;
}

.text-box:error {
    -fx-border-color: -red-500;
}

.text-box:error .icon {
    -fx-fill: -red-500;
}

.text-box:error .helper-label .text {
    -fx-fill: -red-500;
}

Panel {
    -fx-background-color: -fx-background;
}

.task-item {
    -fx-padding: 0px 5px 0px 5px;
}

.task-item:selected .check-circle .box {
    -fx-border-color: -fx-accent;
}

.empty-list-image {
    -fx-background-image: url("../img/check.jpeg");
    -fx-background-size: contain;
    -fx-background-color: #ffffff90;
    -fx-background-repeat: no-repeat;
}

.fake-task-item {
    -fx-border-color: -light-gray-2;
    -fx-border-width: 0px 0px 2px 0px;
}

.task-item .check-circle:hover .mark {
    -fx-border-color: -fx-accent;
}

#list-container .single-selection .task-item:selected .btn-favorite .icon {
    -fx-fill: -fx-accent;
}

#list-root #list-container .single-selection .task-item {
    -fx-background-color: -fx-background;
    -fx-border-color: -light-gray-2;
    -fx-border-radius: 5px;
    -fx-border-weight: 2px;
}

#list-root #list-container .single-selection .task-item:details {
    /*-fx-pref-height: 70px;*/
    /*-fx-min-height: 70px;*/
}

#list-root #list-container .single-selection .task-item:selected {
    -fx-border-width: 2px;
    -fx-background-color: -fx-background;
    -fx-border-color: linear-gradient(
            to left,
            -fx-accent,
            derive(-fx-accent, 50%)
    );
}

.custom-drawer-item {
    -fx-padding: 0px;
    -fx-background-color: -fx-background;
    -fx-min-height: 35px;
    -fx-pref-height: 35px;
}

.custom-drawer-item:selected .icon-selector {
    -fx-background-color: -fx-accent;
    -fx-background-radius: 0px 500px 500px 0px;
}

#drawer,
#drawer-container {
    -fx-padding: 0px;
}

.custom-drawer-item .list-container .text {
}

.animated-section-title {
    -fx-padding: 0px 10px 0px 10px;
    -fx-border-width: 2px;
    -fx-border-radius: 3px;
    -fx-border-color: -light-gray-2;
}

.btn-favorite {
    -fx-background-color: transparent;
    -fx-padding: 0px;
}

.btn-favorite:hover {
    -fx-background-color: white;
    -fx-border-color: -medium-gray;
    -fx-border-radius: 5px;
}

.btn-favorite:selected {
    -fx-border-color: transparent;
    -fx-border-width: 0px;
}

.btn-favorite:selected .icon {
    -fx-fill: -warning;
}

.animated-section-title:hover {
    -fx-border-color: -light-gray-2;
    -fx-background-color: -light-gray;
}

#input-container #input-task {
    -fx-background-color: transparent;
}

#input-container:focus-within {
    -fx-background-color: white;
    -fx-border-color: -light-gray-2;
    /* -fx-border-color:  #c0c7ff; */
}

#input-container {
    -fx-border-color: transparent;
    -fx-background-color: white;
    -fx-border-color: -light-gray-2;
    -fx-border-width: 2px;
    -fx-background-width: 2px;
    -fx-padding: 10px 10px 10px 20px;
}

#input-container #input-task {
    -fx-prompt-text-fill: -fx-accent;
}

#input-container #input-task {
}

#input-container:hover {
    -fx-border-color: linear-gradient(to right, -mint, derive(-fx-accent, 50%));
}

#input-container {
    -fx-min-height: 60px;
    -fx-padding: 10px;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

#input-container .icon-container .icon {
    -fx-fill: -fx-accent;
}

#input-container .linear-icon .icon {
    -fx-fill: linear-gradient(to left, #33b5e5, #48cfad);
    -fx-text-fill: -fx-accent;
}

.input-field-item {
    -fx-padding: 10px;
    -fx-min-height: 40px;
}

.input-field-item:hover {
    -fx-cursor: hand;
    -fx-background-color: -light-gray;
}

.sub {
    -fx-padding: 5px;
    -fx-background-radius: 100px;
    -fx-border-width: 2px;
    -fx-alignment: center;
}

.sub Text,
.custom-drawer-item:selected .sub .text {
    -fx-fill: -fx-accent;
    -fx-font-weight: bold;
}

.custom-drawer-item:selected {
    -fx-background-color: derive(-fx-accent, 122%);
}

.check-circle:pressed .box,
.check-circle:selected .box,
.check-circle .box {
    -fx-border-radius: 100px;
}

.check-circle:indeterminate .box,
.check-circle:determinate .box {
    -fx-border-radius: 100px;
}

.check-circle:determinate .box {
    -fx-border-color: -fx-accent;
    -fx-border-width: 2px;
    -fx-border-radius: 100px;
}

.check-circle:hover .box,
.check-circle .box {
    -fx-background-radius: 100px;
    -fx-border-radius: 100px;
    -fx-border-width: 1px;
    -fx-cursor: hand;
    -fx-background-insets: 1px;
}

.check-circle .box .mark {
}

.check-circle:determinate .box {
    -fx-border-color: derive(gray, -10%);
}

.strike .text {
    -fx-strikethrough: true;
}

.hamb {
    -fx-background-color: -fx-background;
    -fx-border-color: -light-gray-2;
}

.custom-drawer-item:selected .text-field {
    -fx-min-height: 30px;
    -fx-pref-height: 30px;
    -fx-max-height: 30px;
}

.custom-drawer-item .text-field {
    -fx-border-radius: 0px;
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent -fx-accent transparent;
}

.custom-drawer-item .text-field:disabled {
    -fx-border-color: transparent;
    -fx-opacity: 1;
}

.context-menu .menu-item-delete .icon-container .icon {
    -fx-fill: -red-800;
}

#input-container .menu-item-delete Text,
#input-container .menu-item-delete .icon-container .icon {
    -fx-fill: -red-800;
}

.context-menu > .menu-item .icon-container .icon,
.context-menu .menu-item .text {
}

.custom-drawer-item:selected .list-container Text {
    -fx-fill: -fx-accent;
    -fx-font-weight: bold;
}

.custom-drawer-item:selected .list-container .icon,
.custom-drawer-item:selected .list-container Text {
    -fx-fill: -fx-accent;
}

.custom-drawer-item:selected .list-container .text-field {
    -fx-text-fill: -fx-accent;
}

.hover-item:hover {
    -fx-background-color: -light-gray;
    -fx-border-color: -light-gray-2;
}

.menu .right-container .arrow {
    -fx-scale-x: 0.03;
    -fx-scale-y: 0.03;
    -fx-rotate: 0;
    -fx-background-color: -text-color;
}

.year-view .header {
    -fx-background-insets: -5px;
}

.year-view,
.calendar-view {
    -fx-background-radius: 5px;
    -fx-background-color: transparent;
}

.calendar-view .header {
}

.calendar-view .previous-month-button,
.calendar-view .next-month-button {
    -fx-padding: 15px;
    -fx-background-radius: 10px;
}

.calendar-view .dropdown {
    -fx-padding: 10px;
    -fx-cursor: hand;
    -fx-background-radius: 10px;
}

.calendar-view .previous-month-button,
.calendar-view .next-month-button {
    -fx-cursor: hand;
}

.calendar-view .previous-month-button .arrow,
.calendar-view .next-month-button .arrow {
    -fx-padding: 7px 4px 7px 4px;
}

.calendar-view .selected {
    -fx-background-color: -fx-accent;
}

.calendar-view .date-cell {
    -fx-background-radius: 10px;
}

.calendar-view .date-cell:hover {
    -fx-cursor: hand;
    -fx-background-color: -light-gray-2;
    -fx-border-color: -medium-gray;
    -fx-border-radius: 10px;
}

.calendar-view .date-cell:hover .text {
    -fx-fill: -fx-accent;
}

.calendar-view .date-cell .text {
    -fx-fill: -text-color;
}

.calendar-view .selected .text {
    -fx-fill: white;
}

.weekday-grid-pane {
    -fx-effect: none;
}

.year-view .left-button .arrow,
.year-view .right-button .arrow {
    -fx-padding: 7px 4px 7px 4px;
}

.year-view .right-button,
.year-view .left-button {
    -fx-padding: 10px;
}

.year-view .selected {
    -fx-background-radius: 10px;
}

.year-view .selected .selection-indicator {
    -fx-background-color: white;
}

.calendar-view .year-month-view {
    -fx-background-color: red;
    -fx-padding: -1px;
}

.calendar-view .year-month-view .container .grid-pane {
    -fx-background-color: white;
    -fx-padding: -1px;
}

.calendar-view .month-box .selection-indicator {
    -fx-background-color: -fx-accent;
}

.calendar-view {
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-alignment: center;
}

.calendar-container {
    -fx-alignment: center;
    -fx-padding: 0px;
    -fx-background-color: -fx-background;
    -fx-border-color: -medium-gray;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;

    -fx-pref-height: 360px;
    -fx-max-height: 360px;
}

.time-picker .edit-button,
.time-picker .edit-button:hover,
.time-picker .edit-button:focused {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.time-picker > .box > .edit-button > .ikonli-font-icon {
    -fx-icon-size: 22px;
}

.time-picker > .box > .fields-box {
    -fx-padding: 0px 5px;
}

.time-picker > .box > .fields-box > .separator {
    -fx-padding: 0px 1px;
}

.time-picker > .box > .fields-box > .separator:empty {
    -fx-text-fill: derive(-fx-control-inner-background, -30%);
}

.time-picker > .box > .fields-box > .time-field {
    -fx-pref-width: 100px;
}

.time-picker > .box > .fields-box > .time-field:empty {
    -fx-text-fill: derive(-fx-control-inner-background, -30%);
}

.time-picker > .box > .fields-box > .time-field:focused {
    -fx-background-radius: 2px;
    -fx-background-color: -light-gray-2;
    -fx-text-fill: white;
}

.time-picker > .box > .fields-box > .time-field.hour {
    -fx-padding: 0px 0px;
    -fx-alignment: center;
}

.time-picker > .box > .fields-box > .time-field.minute {
    -fx-padding: 0px 0px;
    -fx-alignment: center;
}

.time-picker > .box > .fields-box > .time-field.second {
    -fx-padding: 0px 0px;
    -fx-alignment: center;
}

.time-picker > .box > .fields-box > .time-field.millisecond {
    -fx-pref-width: 2.0em;
    -fx-padding: 0px 0px;
    -fx-alignment: center;
}

.time-picker {
    -fx-background-color: white;
    -fx-effect: none;
    -fx-border-color: -medium-gray;
    -fx-border-radius: 10px;
}

.time-picker > .box > .fields-box {
    -fx-background-color: transparent;
    -fx-effect: none;
}

.calendar-timer {
    -fx-pref-height: 400px;
    -fx-max-height: 400px;
}


/* --------------------------------------------------------------
 * TimePickerPopup
 */
.time-picker-popup {
    -fx-spacing: 5px;
    -fx-pref-height: 210px;
    -fx-pref-width: 165px;
    -fx-background-color: -light-gray-2, white;
    -fx-background-insets: 0, 1;
    -fx-padding: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .10), 20, 0.19, -1, 6);
    -fx-cursor: default;
    -fx-background-radius: 10px;
}

.time-picker-popup .time-list-view {
    -fx-alignment: center;
    -fx-padding: 0px;
}

.time-picker-popup .time-list-view .list-cell {
    -fx-alignment: center;
    -fx-background-color: white;
}

.time-picker-popup .time-list-view .list-cell .time-label .text {
    -fx-fill: -text-color;
}

.time-picker-popup .time-list-view .list-cell:hover .time-label {
    -fx-background-color: -light-gray;
    -fx-background-insets: 0;
}

.time-picker-popup .list-cell .text {
}

.time-picker-popup .time-list-view .list-cell:selected .time-label {
    -fx-background-insets: 0;
    -fx-background-color: -fx-accent;
}

.time-picker-popup .time-list-view .list-cell .time-label {
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-border-color: -light-gray-2;
    -fx-background-radius: 2px;
    -fx-text-fill: -text-color;
    -fx-cursor: hand;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-width: 1px;
    -fx-fixed-cell-size: 20px;
    -fx-pref-width: 60px;

}

.time-picker-popup .time-list-view .virtual-flow .clipped-container .sheet .time-cell:selected .time-label {
    -fx-border-color: -fx-accent;
}

.time-picker-popup .time-list-view .virtual-flow .clipped-container .sheet .time-cell:selected .time-label .text {
    -fx-fill: white;
}

.time-picker-popup .time-list-view {
    -fx-fixed-cell-size: 35px;
}

.time-picker-popup .time-list-view .virtual-flow .clipped-container .sheet .time-cell:hover {
    -fx-background-color: transparent;
}

.time-picker-popup .time-list-view .vertical-scroll-bar {
    -fx-pref-width: 80px;
}

.time-picker-popup {
    -fx-alignment: center;

}

.time-picker-popup .time-list-view {
    -fx-background-insets: 0px;
    -fx-pref-width: 80px;
}

.time-picker-popup .time-list-view > .virtual-flow > .scroll-bar,
.time-picker-popup .time-list-view > .virtual-flow > .scroll-bar .decrement-arrow,
.time-picker-popup .time-list-view > .virtual-flow > .scroll-bar .increment-arrow,
.time-picker-popup .time-list-view > .virtual-flow > .scroll-bar .decrement-button,
.time-picker-popup .time-list-view > .virtual-flow > .scroll-bar .increment-button {
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}

.recurrence-box {
    -fx-padding: 10px;
    -fx-background-color: -fx-background;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: -medium-gray;
    -fx-border-width: 1px;
    -fx-hgap: 5px;
    -fx-vgap: 5px;
}
.week-box {
    -fx-border-color: -light-gray-2;
    -fx-border-width: 1px 0px 1px 0px;
    -fx-padding: 4px 0px 4px 0px;
}

.toggle-week-day {
    -fx-border-color: -medium-gray;
    -fx-background-color: -fx-background;
    -fx-border-radius: 2px;
    -fx-pref-height: 20px;
    -fx-pref-width: 50px;
    -fx-alignment: center;
}

.toggle-week-day:hover {
    -fx-background-color: -light-gray;
}

.toggle-week-day:hover .text {
    -fx-fill: -fx-accent;
}
.toggle-week-day:selected .text {
    -fx-fill: white;
    -fx-font-smoothing-type: lcd;
}

.toggle-week-day:selected {
    -fx-background-color: -fx-accent;
    -fx-border-color: -fx-accent;
    -fx-background-radius: 5px;
}

.inside-field:focused {
    -fx-border-color: -fx-accent;
}

.inside-field:readonly {
    -fx-cursor: hand;
    -fx-border-color: transparent;
}

.inside-field:readonly:hover:focused,
.inside-field:readonly:focused,
.inside-field:readonly:hover {
    -fx-cursor: default;
    -fx-background-color: transparent;
}

.inside-field:focused:hover,
.inside-field:focused {
    -fx-cursor: text;
    -fx-background-color: transparent;
}

.inside-field:hover {
    -fx-cursor: hand;
    -fx-background-color: -light-gray;
}

.inside-field {
    -fx-border-color: transparent;
}

.icon-grid {
    -fx-background-color: -fx-background;
    -fx-border-color: -medium-gray;
    -fx-hgap: 15px;
    -fx-vgap: 5px;
    -fx-padding: 15px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}
.icon-grid .label:hover {
    -fx-cursor: hand;
}

.icon-grid .label:hover .image-view {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-border-color: red;
}

.icon-label:disabled {
    -fx-opacity: 1.0;
}

.icon-label {
    -fx-content-display: graphic-only;
    -fx-padding: 5px 6px 5px 6px ;
    -fx-alignment: center;
}
.icon-label:hover {
    -fx-background-color: -light-gray;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
}

TextFlow {
    -fx-text-alignment: center;
}